* {
    

    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
    text-align: center;
    align-items: center;
    
    
}
.header {
height: 80px;
background-color: forestgreen;
color:white;
font-size: 20px;


}

.imagens{
    align-self: auto;
    height: 20px;
    width: 20px;
}

.tabela{
border: 1px;
border-color: black;

}